// Button (Bootstrap button)
// Based on https://material.google.com/components/buttons.html#buttons-style

// N.B. Material design only specifies specs for default button (.btn) and dense button (.btn-sm)


$btn-min-width: auto;
$btn-padding-y: 0.8rem;

// Button: floating action button
// Based on https://material.google.com/components/buttons-floating-action-button.html#buttons-floating-action-button-floating-action-button


$btn-float-elevation-shadow: map-get($elevation-shadows, 6);

// Button: toggle buttons (Boostrap button group)
// Based on https://material.io/guidelines/components/buttons.html#buttons-toggle-buttons

$btn-group-toggle-opacity: 0.2;


// Data table (Bootstrap table)
// Based on https://material.google.com/components/data-tables.html#data-tables-structure

$table-tbody-font-size: 1rem;
$table-thead-cell-height: 1rem;
$table-thead-color: $black;
$table-thead-padding-y: 1.21rem;

// Menu (Bootstrap dropdown)
// Based on https://material.google.com/components/menus.html#menus-specs

$menu-link-padding-y: 0.75rem; //old was 0.25rem
$menu-padding-y: 0.25rem;

// Navigation drawer
// Based on https://material.google.com/patterns/navigation-drawer.html#navigation-drawer-specs

$navdrawer-width: 18.5rem;

// Card (Bootstrap card)
// Based on https://material.google.com/components/cards.html#cards-usage
$card-border-radius: 0;


// Progress (Bootstrap progress bar)
// Based on https://material.google.com/components/progress-activity.html#progress-activity-types-of-indicators

$progress-bar-height: 0.5rem;


// Tab (Bootstrap tab)
// Based on https://material.google.com/components/tabs.html#tabs-specs

$nav-tab-link-padding-y: 1.0625rem;

// Text field (Bootstrap form control)
// Based on https://material.io/guidelines/components/text-fields.html#text-fields-states

$textfield-border-color-focus: $material-color-cyan-500;
$textfield-border-width-focus: 0px;
$textfield-border-width-hover: 0px;
$textfield-line-height: 2.5;
$textfield-margin-y: 0.75rem;
$textfield-padding-x: 1rem;
$textfield-padding-y: 0.2rem;
$textfield-border-color: rgba(0, 0, 0, 0.3);


// Toolbar (Bootstrap navbar)
// Based on https://material.google.com/components/toolbars.html#toolbars-usage

$toolbar-element-height: auto;
$toolbar-element-opacity: 1;
$toolbar-link-padding-y: 0.8rem;
$toolbar-padding-y: 0.8rem;


// Tooltip (Bootstrap tooltip)
// Based on https://material.google.com/components/tooltips.html#tooltips-tooltips-desktop

$tooltip-bg: $black;


// Data table (Bootstrap table)
// Based on https://material.google.com/components/data-tables.html#data-tables-structure

$table-thead-font-size: 1rem;
$table-thead-font-weight: 600;