// For Scrumboard

.lobilist-wrapper {
    .lobilist {
        .lobilist-header {
            .lobilist-actions {

                .ft-grid,
                .ft-edit,
                .ft-check-circle,
                .ft-x-circle,
                .ft-plus,
                .ft-x {
                    position: relative;
                    top: -0.5rem;
                    left: -0.6rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
}